.card {
  perspective: 1000px; /* Perspective for 3D effect */
}

.front-content, .back-content {
  backface-visibility: hidden;
  transition: 0.6s; /* Transition effect */
}

.back-content {
  transform: rotateY(180deg);
}

.card:hover .front-content {
  transform: rotateY(-180deg);
}

.card:hover .back-content {
  transform: rotateY(0);
}

.back-content::-webkit-scrollbar {
  height:8px;
  width: 4px;
}

.back-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.back-content::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}