.card {
  -webkit-perspective: 1000px; /* Webkit prefix for perspective */
  perspective: 1000px;
}

.front-content, .back-content {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.back-content {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card:hover .front-content {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .back-content {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.back-content::-webkit-scrollbar {
  height:8px;
  width: 4px;
}

.back-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.back-content::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}