
.card {
  -webkit-perspective: 1000px; /* Webkit prefix for perspective */
  perspective: 1000px;
}
@supports not (-webkit-appearance: none) {
  .card-container {
    transform-style: preserve-3d;
  }
}

.front-content, .back-content {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translateZ(0); /* Force hardware acceleration */
  transform: translateZ(0); /* Force hardware acceleration */
}

.back-content {
  -webkit-transform: rotateY(-180deg) translateZ(0); /* Force hardware acceleration */
  transform: rotateY(-180deg) translateZ(0); /* Force hardware acceleration */
}

.card:hover .front-content {
  -webkit-transform: rotateY(-180deg) translateZ(0); /* Force hardware acceleration */
  transform: rotateY(-180deg) translateZ(0); /* Force hardware acceleration */
}

.card:hover .back-content {
  -webkit-transform: rotateY(0) translateZ(0); /* Force hardware acceleration */
  transform: rotateY(0) translateZ(0); /* Force hardware acceleration */
}

.back-content::-webkit-scrollbar {
  height:8px;
  width: 4px;
}

.back-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.back-content::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}